<a href="//www.pinterest.com/{$href|noescape}" data-pin-do="{$identifier}" {$pluginSettings|noescape}>
    {ifset $text}{$text}{else}<img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_{$theme}_{$size}.png" />{/ifset}
</a>
